In [2]:
# Pandas is a library in Python that provides one-dimensional labeled arrays and two-dimensional labeled data structures, similar to tables in Excel.
import pandas as pd

In [12]:
dataset=pd.read_csv("Salary_Data.csv")#Pandas is used to read a .csv file and assign it to a dataset.
dataset # Output the dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [19]:
independent=dataset[["YearsExperience"]]#Assign the input value as an independent variable in the dataset column, such as 'Years of Experience'
dependent=dataset[["Salary"]]# Assign the 'Salary' column as the dependent variable in the dataset

In [20]:
dependent # Here is the output related to this.

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [38]:
from sklearn.model_selection import train_test_split #sklearn is a library in Python. Within it, the model_selection module provides functions to split the dataset into training and test sets. 
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)#X-axis represents both training and testing features.#Y-axis represents the target feature for testing.
#An early train_test_split was assigned. The proved sample as percentage.

In [40]:
x_train,x_test,y_train,y_test# Here is the output related to this.

(    YearsExperience
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
     YearsExperience
 2               1.5
 28             10.3
 13              4.1
 10              3.9
 26              9.5
 24              8.7
 27              9.6
 11              4.0
 17              5.3,
       Salary
 22  101302.0
 5    56642.0
 16   66029.0
 8    64445.0
 14   61111.0
 23  113812.0
 20   91738.0
 1    46205.0
 29  121872.0
 6    60150.0
 4    39891.0
 18   81363.0
 19   93940.0
 9    57189.0
 7    54445.0
 25  105582.0
 3    43525.0
 0    39343.0
 21   98273.0
 15   67938.0
 12   56957.0,
       Salary
 2    37731.0
 28  122391.0
 13   57081.0
 10   63218.0
 26  116969.0
 24  109431.0
 27  112635.0
 11   55794.0
 17   83088.0)

In [28]:
from sklearn.linear_model import LinearRegression #We import the LinearRegression model from the sklearn.linear_model module
regression=LinearRegression()#We assign an instance of LinearRegression to the variable named regression.
regression.fit(x_train,y_train)#The fit method uses the training data — x_train (the input features or independent variables) and y_train (the target values or dependent variable). It learns the relationship between the inputs and outputs.

LinearRegression()

In [31]:
weight=regression.coef_ #This gets the weights (also called coefficients) 
#that the linear regression model has learned.
#It stores those weights in a variable called weight
weight#Here is the output related to this.

array([[9360.26128619]])

In [34]:
 #This gets the bais (also called Intercept) 
#that the linear regression model has learned.
#It stores those bais in a variable called hight
bais=regression.intercept_
bais#Here is the output related to this.

array([26777.3913412])

In [35]:
y_pred=regression.predict(x_test)#Use the trained regression model to predict the outputs for the test data (x_test),
#store those predicted values in y_pred

In [36]:
from sklearn.metrics import r2_score #This line imports the r2_score function from the sklearn.metrics module,r2_score is a metric used to evaluate regression models.
r_score=r2_score(y_test,y_pred)#y_test: The actual values (ground truth), y_pred: The predicted values generated by your model,The r2_score function compares the actual and predicted values and returns a score that is stored in the variable r_score.

In [37]:
r_score #Here is the output related to this.

0.9740993407213511

In [41]:
import pickle # we are importing the pickle module to work with saved objects.we are setting a file name  to be used below.
filename="simple_linear.sav"#This would load the model from the file

In [44]:
pickle.dump(regression,open(filename,'wb'))#Now, loaded_model contains the same object that was saved — in this case, your regression model — and we can use it to make predictions or continue training.

In [48]:
load_model=pickle.load(open("simple_linear.sav",'rb'))#Loads a saved machine learning model from a file.
result=load_model.predict([[15]])#Uses that model to predict the result for the input value 15

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [49]:
result #Here is the output related to this.

array([[167181.3106341]])